@import '../../styles/index.scss';

.item_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 16px;

    .item_content {
        display: flex;
        flex-direction: row;
        // align-items: center;

        .item_label {
            width: max-content;
            max-width: 120px;
            overflow: hidden;
            margin-right: 5px;
            padding: $form-item-padding-y 0;
        }

        .item_required::before {
            content: '*';
            color: red;
            width: 8px;
            margin-top: -50%;
        }

        .item_not_required::before {
            content: '';
            margin-top: -50%;
            margin-left: 8px;
        }

        .item_wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;

            .item_err {
                margin-top: 5px;
                color: rgb(228, 82, 82);
            }

            .item_hidden {
                display: none;
            }

        }
    }




}